{% extends 'layout.html.twig' %}

{% block footer %}

    <footer>
        <div class="footer-wrapper" style="background-color: #908d8d; text-align: center; padding: 20px;">
            <div id="creators-div">
                <h5>CTEC3110 Secure Web App Development Coursework</h5>
                <h6>Created by Richard Kankam</h6>
                <p>&copy; {{ "now"|date("Y") }} DMU. All rights reserved.</p>
            </div>
        </div>
    </footer>

{% endblock %}
