{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>

        <h4>Congratulations!</h4>
        <p>Your account has been created successfully. You are now ready to log in.</p>

        <a href="{{ landing_page }}" class="button">Login Now</a>

    </div>
{% endblock %}
