{% extends 'banner.html.twig' %}
{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <h3>Telemetry Messages</h3>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-12">
            <ul>
                {% for key, value in telemetry_data %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
